@font-face {
    font-family: omc;
    src: url(../fonts/omc.ttf);
}

@font-face {
    font-family: futura;
    src: url(../fonts/futura.ttf);
}

body {
    background-color: #FDFEFF;
}

section {
    padding: 0 4em;
}

h1 {
    font-family: omc;
    font-size: 3.6em;
    color: #325682;
}

h2 {
    font-family: omc;
    font-size: 2em;
    color: #325682;
}

h3 {
    font-family: omc;
    font-size: 1.6em;
    color: #325682;
}

h4 {
    font-family: futura;
    font-size: 1em;
    color: #5490CA;
}

p {
    font-family: futura;
    font-size: 1em;
    color: #325682;
}

.button {
    background-color: #BC69A4;
    font-family: futura;
    border-radius: 20px;
    border: 1px solid #BC69A4;
    padding: 0.8em 1.8em;
    display: inline-block;
    text-align: center;
}

.button p {
    color: white;
}

.alternate-button {
    background-color: transparent;
    font-family: futura;
    color: #325682;
    border-radius: 20px;
    border: 1px solid #325682;
    padding: 0.8em 1.8em;
    display: inline-block;
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.6em 0;
}

.nav-logo {
    height: 12vh;
}

.nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.nav-links a {
    color: #325682;
    text-decoration: none;
    font-size: 1.4em;
    margin: 0 0 0 3em;
    font-family: futura;
}

.hero {
    display: flex;
    flex-direction: row;
    margin: 4em 0 0 0;
}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-left h1 {
    width: 90%;
}

.hero-left-bottom {
    display: flex;
    flex-direction: row;
    margin: 3em 0 0 0;
}

.hero-left-bottom .alternate-button {
    margin: 0 0 0 2em;
}

.hero-right {
    width: 50%;
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.colour-block {
    background-color: #325682;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
    margin: 4em 0 0 0;
}

.colour-block h2 {
    color: white;
    text-align: center;
    width: 60%;
    margin: 0 0 0.8em 0;
}

.colour-block p {
    color: white;
    text-align: center;
    width: 50%;
}

.image-text-l {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 4em 0 0 0;
}

.image-text-l-left {
    width: 50%;
    max-height: 80vh;
}

.image-text-l-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.image-text-l-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-text-l-right-content {
    width: 70%;
}

.image-text-l-right p {
    margin: 2em 0 0 0;
}

.image-text-l-right .button {
    margin: 2em 0 0 0;
}

.image-text-l-right .button p {
    margin: 0;
    width: auto;
} 

.centre-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 8em 0 0 0;
}

.centre-text h2 {
    margin: 0.6em 0;
}

.centre-text p {
    width: 60%;
}

.card-section {
    margin: 4em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-column-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 6em;
}

.card-column-right {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6em 0 0;
}

.card {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 0 0 4em 0;
    width: 60%;
    padding: 2em;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/sports.jpg);
}

#card-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/physio.jpg);
}

#card-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/pilates.jpg);
}

#card-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/injury.jpg);
}

#card-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/massage.jpg);
}

#card-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/dry.jpg);
}

#card-7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hydro.jpg);
}

#card-8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/running.jpg);
}

.card h3 {
    text-align: center;
    color: white;
}

.card p {
    text-align: center;
    color: white;
    margin: 1em 0 0 0;
}

.image-text-r {
    display: flex;
    flex-direction: row;
    margin: 8em 0 0 0;
}

.image-text-r-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-text-r-left-content {
    width: 70%;
    padding: 0 0 0 3em;
}

.image-text-r-left p {
    margin: 2em 0 0 0;
}

.image-text-r-left .button {
    margin: 2em 0 0 0;
}

.image-text-r-left .button p {
    margin: 0;
    width: auto;
} 

.image-text-r-right {
    width: 50%;
    max-height: 80vh;
}

.image-text-r-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.circle-cards {
    display: flex;
    flex-direction: row;
    margin: 8em 0 0 0;
}

.circle-left {
    width: 50%;
}

.circle-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 2.4em 3em;
}

.circle-card h2 {
    margin: 0 0 0 0.8em;
}

.circle-card img {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}

.circle-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle-right h4 {
    margin: 0 0 0.2em 0;
}

.circle-right p {
    margin: 2em 0 0 0;
    width: 80%;
}

.circle-right .button {
    margin: 2em 0 0 0;
}

.circle-right .button p {
    margin: 0;
    width: auto;
} 

.partners {
    text-align: center;
    margin: 8em 0 0 0;
}

.partner {
    width: 8vw;
    display: inline-block;
    margin: 1em 3em;
}

.partner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.book {
    background-color: #325682;
    padding: 5em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4em 0 0 0;
}

.book-left {
    width: 30%;
}

.book-left .button {
    margin: 0 0 0 4em;
}

.book-right {
    width: 70%;
}

.book-right h2 {
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em 0 1em 0;
}

.footer a {
    color: #325682;
    text-decoration: none;
}

.footer p {
    margin: 1.4em 0;
}

.footer-logo {
    width: 26vw;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.footer-middle {
    width: 10%;
}

.footer-right {
    width: 30%;
}

@media only screen and (max-width: 1200px) {
    .book-right {
        width: 70%;
        margin: 0 1.4em 0 0;
    }
}


@media only screen and (max-width: 846px) {
    .hero {
        flex-direction: column;
        padding: 0;
    }

    .hero-left {
        width: 100%;
        padding: 0 2em;
    }

    .hero-right {
        width: 100%;
        height: 70vh;
        margin: 3em 0 0 0;
    }

    .colour-block h2 {
        width: 70%;
    }

    .colour-block p {
        width: 70%;
    }

    .centre-text p {
        width: 80%;
    }

    .card-column-left {
        padding: 0;
    }

    .card-column-right {
        padding: 0;
    }

    .card {
        width: 80%;
    }

    .image-text-r {
        margin: 4em 0 0 0;
    }

    .image-text-r-left-content {
        width: 80%;
        padding: 0 0 0 1em;
    }

    .circle-cards {
        justify-content: space-between;
    }
    
    .circle-card {
        margin: 0 0 2em 0em;
    }

    .circle-left {
        width: 45%;
    }

    .circle-right {
        width: 45%;
    }

    .image-text-r {
        margin: 8em 0 0 0;
    }
}

@media only screen and (max-width: 768px) {
    .nav-logo {
        height: 10vh;
    }
    
    .nav-links a {
        font-size: 1.2em;
        margin: 0 0 0 1.6em;
    }
    
    section {
        padding: 0 3em;
    }
    
    .circle-right {
        width: 40%;
    }
}

@media only screen and (max-width: 640px) {
    .nav-logo {
        height: 8vh;
    }
    
    .nav-links a {
        font-size: 1.1em;
        margin: 0 0 0 1.4em;
    }
    
    .colour-block p {
        width: 80%;
    }

    .colour-block h2 {
        width: 80%;
    }

    .hero-right {
        height: 60vh;
    }

    .circle-card {
        overflow-wrap: break-word;
    }
    
    .circle-card img {
        height: 15vh;
        width: 15vh;
    }

    .circle-card h2 {
        font-size: 1.6em;
    }

    .book-left {
        width: 30%;
    }

    .book-right {
        width: 70%;
    }

    .book-left .button {
        margin: 0 0 0 2em;
    }

    .footer-middle {
        width: 15%;
    }

    .footer-right {
        width: 15%;
    }
}

@media only screen and (max-width: 480px) {
    .nav-logo {
        height: 6vh;
    }
    
    .nav-links a {
        font-size: 0.8em;
        margin: 0 0 0 1em;
    }
    
    .image-text-l {
        flex-direction: column;
    }

    .image-text-l-left {
        width: 100%;
        height: 60vh;
    }

    .image-text-l-right {
        width: 100%;
        margin: 4em 0 0 0;
    }

    .card-section {
        flex-direction: column;
    }

    .card-column-left {
        width: 100%;
    }

    .card-column-right {
        width: 100%;
    }

    .image-text-r {
        flex-direction: column;
        margin: 4em 0 0 0;
    }

    .image-text-r-left {
        width: 100%;
    }

    .image-text-r-right {
        width: 100%;
        margin: 4em 0 0 0;
    }

    .circle-cards {
        flex-direction: column;
    }

    .circle-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .circle-right {
        width: 100%;
        margin: 4em 0 0 0;
    }

    .partner {
        width: 14vw;
    }

    .book {
        flex-direction: column;
    }

    .book-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .book-left .button {
        margin: 0;
    }

    .book-right {
        width: 100%;
    }

    .book-right h2 {
        width: 80%;
        margin: 2em 2em 0 2em;
        text-align: center;
    }

    .footer {
        flex-direction: column;
    }

    .footer-middle {
        margin: 2em 0 0 0;
    }

    .footer-right {
        margin: 2em 0 0 0;
    }
}